# 26 July 2023

In [2]:
print(1 + 3 * 2 - 5 + 4)
print(1 + 3 * (2 - 5) + 4)
print(5**2**2 * 3 + 1)
print(5 ** (2**2) * 3 + 1)
print(1 + 3 / 2)

6
-4
1876
1876
2.5

In [3]:
import math

print(math.pow(10, 5))
print(math.sqrt(10))

a = 1
b = -7
c = 10
x1 = ((-1 * b) - (math.sqrt(math.pow(b, 2) - (4 * a * c)))) / (2 * a)
x2 = ((-1 * b) + (math.sqrt(math.pow(b, 2) - (4 * a * c)))) / (2 * a)
print("Roots are", x1, x2)

print(math.log2(2 + math.sqrt(5)))

radius = 5.5
print(
    "The area of a circle with a radius of", radius, "is", math.pi * math.pow(radius, 2)
)

print(math.sin(2.5))

import cmath

a = 1
b = -2
c = 10
ix1 = ((-1 * b) - (cmath.sqrt(math.pow(b, 2) - (4 * a * c)))) / (2 * a)
ix2 = ((-1 * b) - (cmath.sqrt(math.pow(b, 2) - (4 * a * c)))) / (2 * a)
print("Roots are", ix1, ix2)

print("4! is", math.factorial(4))

from functools import reduce

print("Summation is", reduce(lambda p, q: p + q, [k for k in range(32, 128 + 1)]))
print("Product is", reduce(lambda p, q: p * q, [k for k in range(3, 17)]))

100000.0
3.1622776601683795
Roots are 2.0 5.0
2.082725740891852
The area of a circle with a radius of 5.5 is 95.03317777109125
0.5984721441039565
Roots are (1-3j) (1-3j)
4! is 24
Summation is 7760
Product is 10461394944000

**Celsius to Fahrenheit**

In [4]:
input_temperature = float(input("Temperatue in °C = "))
temperature_in_degree_farenheit = input_temperature * (9 / 5) + 32

print(input_temperature, "°C is", temperature_in_degree_farenheit, "°F")

33.0 °C is 91.4 °F

**Fahrenheit ot Celsius**

In [5]:
input_temperature = float(input("Temperatue in °F = "))

temperature_in_degree_celsius = (input_temperature - 32) * (5 / 9)

print(input_temperature, "°F is", temperature_in_degree_celsius, "°C")

110.0 °F is 43.333333333333336 °C

**Meter to Foot**

In [6]:
input_length = float(input("Length in Meter = "))
length_in_foot = input_length * 3.281
print(input_length, "Meter(s) is", length_in_foot, "Foot")

10.0 Meter(s) is 32.81 Foot

**Foot to Meter**

In [7]:
input_length = float(input("Length in Foot = "))
length_in_meter = input_length / 3.281
print(input_length, "Foot is", length_in_meter, "Meter")

6.0 Foot is 1.828710758914965 Meter

**Acre to Square Meter**

In [8]:
input_area = float(input("Area in Acre = "))
area_in_square_meter = input_area * 4047
print(input_length, "Acre(s) is", area_in_square_meter, "Square Meter(s)")

6.0 Acre(s) is 404700.0 Square Meter(s)

**Square Meter to Acre**

In [9]:
input_area = float(input("Area in Square Meter = "))
area_in_acre = input_area / 4047
print(input_length, "Square Meter(s) is", area_in_acre, "Acre(s)")

6.0 Square Meter(s) is 0.24709661477637757 Acre(s)

**Pound to Kilogram**

In [10]:
input_mass = float(input("Mass in Pound = "))
mass_in_kilogram = input_mass / 2.205
print(input_mass, "Pound(s) is", mass_in_kilogram, "Kilogram(s)")

7.0 Pound(s) is 3.1746031746031744 Kilogram(s)

**Kilogram to Pound**

In [11]:
input_mass = float(input("Mass in Kilogram = "))
mass_in_pound = input_mass * 2.205
print(input_mass, "Kilogram(s) is", mass_in_pound, "Pound(s)")

3.0 Kilogram(s) is 6.615 Pound(s)

**John's Simple Interest**

In [12]:
principal = 3000
time_in_year = 3
simple_interest = 3335.8

interest_rate = (simple_interest * 100) / (principal * time_in_year)

print("John is getting an annual interest rate of", interest_rate)

John is getting an annual interest rate of 37.06444444444445

**`Heron's` Formula**

In [13]:
a = 3
b = 4
c = 6

semi_perimeter = (a + b + c) / 2
area_of_triangle = math.sqrt(
    semi_perimeter * (semi_perimeter - a) * (semi_perimeter - b) * (semi_perimeter - c)
)
print(
    "Area of a Triangle with sides (in Meter)",
    a,
    ",",
    b,
    ", and",
    c,
    "is",
    area_of_triangle,
    "Square Meter(s)",
)

Area of a Triangle with sides (in Meter) 3 , 4 , and 6 is 5.332682251925386 Square Meter(s)

**Random Number Guess**

In [14]:
import random

guess_start = 1
guess_stop = 100

computed_guess = random.randint(guess_start, guess_stop)

while True:
    guess = int(input("Guess it? "))
    if guess > computed_guess:
        print("Your guess is greater")
    elif guess < computed_guess:
        print("Your guess is smaller")
    else:
        print("Your guess is equal")
        break

Your guess is greater
Your guess is smaller
Your guess is smaller
Your guess is smaller
Your guess is smaller
Your guess is greater
Your guess is smaller
Your guess is equal

# 27 July 2023

## Tuples

> Mutability 👎

In [15]:
books = (
    "ANSI C",
    "Java: The complete reference",
    "Discrete Mathematics and Applications",
)
authors = ("Brian Kernighan and Dennis Ritchie", "Herbert Schildt", "Kenneth H. Rosen")
language = ("English",)

print(books[-1:-3:-1])

('Discrete Mathematics and Applications', 'Java: The complete reference')

`in` operator with a Tuple

In [16]:
print("ANSI C" in books)
books.index("ANSI C")

True

0

`id()` method

In [17]:
id(books)

139962135801344

`del` operator

In [18]:
id(language)
del language
id(language)

NameError: name 'language' is not defined

**Operators for a Tuple**
| Operators | Description |
| --------- | --------------- |
| `+` | `Concatenation` |
| `*` | `Repetition` |

In [ ]:
print(books + authors)
print(language * 3)

`for` loop

In [ ]:
sum = 0
for x in tuple(range(10)):
    sum += x
print("Sum of first 10 whole numbers is", sum)

`range()` method

> Creates a sequence

In [ ]:
print(tuple(range(2, 100, 2)))

**Tuple Unpacking**

In [ ]:
print(*books)

NameError: name 'books' is not defined

## List

> Mutability 👍

In [ ]:
alphabets = [chr(i) for i in range(ord("a"), ord("z"))]
print(alphabets)

Indexing and Slicing

In [ ]:
print(alphabets[20])
print(alphabets[0:6])
print(alphabets[0:5:-1])

```for``` loop

In [ ]:
for alphabet in alphabets:
    print(alphabet, end="")

```extend()``` method
> Extends the list in-place with another ```iterable```

> Returns ```None```

In [ ]:
alphabets.extend("áàäéè")
print(alphabets)

# 28 July 2023

The ```def``` keyword

In [ ]:
def greet(message):
    print(message)
    return message


returned_message = greet("hello world")
print(returned_message)

The ```*args``` and ```**kwargs``` keywords

In [ ]:
def function(*args, **kwargs):
    print("args is", type(args))
    print("kwargs is", type(kwargs))


function()

In [ ]:
def sum(*args):
    if args:
        sum = 0
        for arg in args:
            sum += arg
        return sum
    else:
        return None


sum(*[x for x in range(10)])

# 31 July 2023

```lambda``` function

> ```lambda comma_seprated_arguments: expression```

> The ```expression``` is returned automatically to the caller

In [ ]:
f = lambda x, y=0: x**y

print(f(2, 3))
print(f(3))

In [ ]:
g = lambda x=0, y=0: x**3 + y**2 + 5

print(g())
print(g(1, 2))

**List comprehension**

In [ ]:
domain_name = "Library Mangement System"

paragraph_on_domain = f"A {domain_name} is a software that helps take the load \
off librarians and other library users. It does so by enabling them to \
digitally manage, organize and access the resources of a library like books, \
e-books, articles, journals, research papers, and such. It couples these along \
with OPAC, an Online Public Access Catalog allowing users to search for the \
resources in an efficient manner like filtering, sorting, etc.\nAll of these \
and more elevate the efficiency and thereby the productivity of the librarians \
whilst simultaneously improving the user experince by bringing all of these on \
their palm."

[print(x, end=", ") for x in domain_name]

In [ ]:
letters_in_domain_name = [letter for letter in domain_name]
print(letters_in_domain_name)

In [ ]:
vowels = ["a", "e", "i", "o", "u"]
vowels_in_domain_name = [letter for letter in domain_name if letter in vowels]

print(vowels_in_domain_name)

In [ ]:
uppercase_letters_in_domain_name = [
    letter for letter in domain_name if letter.isupper()
]
print(uppercase_letters_in_domain_name)

In [ ]:
uppercase_domain_name = [
    letter if letter.isupper() else letter.lower() for letter in domain_name
]
print("".join(uppercase_domain_name))

# 1 August 2023

## ```Dictionary```

> Mutability 👍

In [20]:
university = {
    "name": "CHRIST UNIVERSITY",
    "campus": "Bangalore Central",
    "deaneries": ["school of science", "school of arts"],
}

print(type(university))
print(university)

<class 'dict'>
{'name': 'CHRIST UNIVERSITY', 'campus': 'Bangalore Central', 'deaneries': ['school of science', 'school of arts']}

In [ ]:
print(university["name"])
print(university["campus"])

CHRIST UNIVERSITY
Bangalore Central

```get()``` method

In [ ]:
print(university.get("name"))
print(university.get("names"))

CHRIST UNIVERSITY
None

```keys()``` method

In [ ]:
university.keys()

dict_keys(['name', 'campus', 'deaneries'])

```id()```

> ```id()``` gives the unique identification assigned to an object when it is created

In [ ]:
print(id(university))

140050301240192

```update()``` method

In [ ]:
university.update({"campus": "Delhi NCR"})
print(university)

university["campus"] = "Bangalore Central"
print(university)

{'name': 'CHRIST UNIVERSITY', 'campus': 'Delhi NCR', 'deaneries': ['school of science', 'school of arts']}
{'name': 'CHRIST UNIVERSITY', 'campus': 'Bangalore Central', 'deaneries': ['school of science', 'school of arts']}

```values()``` method

In [ ]:
print(university.values())

dict_values(['CHRIST UNIVERSITY', 'Bangalore Central', ['school of science', 'school of arts']])

```pop()``` method

In [ ]:
university.pop("deaneries")
print(university)

{'name': 'CHRIST UNIVERSITY', 'campus': 'Bangalore Central'}

```del```

In [ ]:
del university["campus"]
print(university)

del university
id(university)

{'name': 'CHRIST UNIVERSITY'}

NameError: name 'university' is not defined

```for``` loop

In [ ]:
for x in university:
    print(x)

for x in university.values():
    print(x)

name
campus
deaneries
CHRIST UNIVERSITY
Bangalore Central
['school of science', 'school of arts']

```items()``` method

In [ ]:
for k, v in university.items():
    print(k, v)

name CHRIST UNIVERSITY
campus Bangalore Central
deaneries ['school of science', 'school of arts']

```copy()``` method

In [22]:
copy_of_university = university.copy()
print(copy_of_university)

print(id(copy_of_university) == id(university))

{'name': 'CHRIST UNIVERSITY', 'campus': 'Bangalore Central', 'deaneries': ['school of science', 'school of arts']}
False

In [21]:
def unpack(name, campus, deaneries):
    print(name, campus, sep=":")


unpack(**university)

CHRIST UNIVERSITY:Bangalore Central