# Regular Lab Questions 7

In [153]:
import numpy as np

employee_struct = np.dtype(
    [
        ("Emp_Id", np.uint16),
        ("Last_Name", np.unicode_, 32),
        ("First_Name", np.unicode_, 32),
        ("Gender", np.unicode_, 1),
        ("Title", np.unicode_, 32),
    ]
)

employees = np.array(
    [
        (1000, "Torbati", "Yolanda", "F", "Programmer"),
        (1001, "Kleinn", "Joel", "M", "Programmer"),
        (1002, "Ginsburg", "Laura", "F", "President"),
        (1003, "Cox", "Jennifer", "F", "Programmer"),
        (1005, "Ziada", "Mauri", "M", "Product Designer"),
        (1006, "Keyser", "Cara", "F", "Account Executive"),
        (1010, "Smith", "Roxie", "M", "Programmer"),
        (1011, "Neslon", "Robert", "M", "Programmer"),
        (1012, "Sachsen", "Lars", "M", "Support Technician"),
        (1013, "Shannon", "Don", "M", "Product Designer"),
    ],
    dtype=employee_struct,
)

print(employees)

[(1000, 'Torbati', 'Yolanda', 'F', 'Programmer')
 (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Neslon', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

## 1

In [58]:
print(np.count_nonzero(employees["Gender"] == "M", axis=0))

6

## 2

In [59]:
print(employees[np.char.startswith(employees["Last_Name"], "S")])

[(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

## 3

In [60]:
female_employess = employees[np.where(employees["Gender"] == "F")]

print(np.sort(female_employess, order="First_Name")[::-1])

[(1000, 'Torbati', 'Yolanda', 'F', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')]

## 4

In [161]:
employees_2d = np.reshape(employees, (10, -1))

print(employees_2d)

[[(1000, 'Torbati', 'Yolanda', 'F', 'Programmer')]
 [(1001, 'Kleinn', 'Joel', 'M', 'Programmer')]
 [(1002, 'Ginsburg', 'Laura', 'F', 'President')]
 [(1003, 'Cox', 'Jennifer', 'F', 'Programmer')]
 [(1005, 'Ziada', 'Mauri', 'M', 'Product Designer')]
 [(1006, 'Keyser', 'Cara', 'F', 'Account Executive')]
 [(1010, 'Smith', 'Roxie', 'M', 'Programmer')]
 [(1011, 'Neslon', 'Robert', 'M', 'Programmer')]
 [(1012, 'Sachsen', 'Lars', 'M', 'Support Technician')]
 [(1013, 'Shannon', 'Don', 'M', 'Product Designer')]]

## 5

In [164]:
print(employees[2:-1,])

[(1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Neslon', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')]